<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <title>contract</title>
        <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />    
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />    
        <link href="../static/css/select2.css" rel="stylesheet"/>
        <script src="../static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="../static/js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="../static/js/select2.min.js" type="text/javascript" charset="utf-8"></script>

    </head>


    <style>
        td>.form-control {
            margin: 5px 8px;
            float: right;
            width: 60%;
            display: inline-block;
        }
        
        .form-control {
            width: 16%;
            display: inline-block;
            
        }
        
        #back {
            width: 90%;
            margin: 0 auto;
            border-style: solid; 
            border-width: 5px;
            border-color: rgba( 30,144,255,0.7);
            border-radius: 30px;
            font-family:"黑体";
            font-size: 16px;
        }
        #buttondiv{
            width:250px;           
            margin: 50px auto;
        }
    </style>
    <script type="text/javascript">
        //单个数字转换用数组实现，
        var chnNumChar = ['零', '一', '二', '三', '四', '五', '六', '七', '八', '九'];
        //节权位同样用数组实现，
        var chnUnitSection = ['', '万', '亿', '万亿', '亿亿'];
        //节内权位同样用数组实现，
        var chnUnitChar = ['', '十', '百', '千'];
        // 节内转换算法
        function SectionToChinese(section) {
            var strIns = '',
                chnStr = '';
            var unitPos = 0;
            var zero = true;
            while(section > 0) {
                var v = section % 10;
                if(v === 0) {
                    if(!zero) {
                        zero = true;
                        chnStr = chnNumChar[v] + chnStr;
                    }
                } else {
                    zero = false;
                    strIns = chnNumChar[v];
                    strIns += chnUnitChar[unitPos];
                    chnStr = strIns + chnStr;
                }
                unitPos++;
                section = Math.floor(section / 10);
            }
            return chnStr;
        }
        // 转换算法主函数
        function NumberToChinese(num) {
            var unitPos = 0;
            var strIns = '',
                chnStr = '';
            var needZero = false;

            if(num === 0) {
                return chnNumChar[0];
            }
            while(num > 0) {
                var section = num % 10000;
                if(needZero) {
                    chnStr = chnNumChar[0] + chnStr;
                }
                strIns = SectionToChinese(section);
                strIns += (section !== 0) ? chnUnitSection[unitPos] : chnUnitSection[0];
                chnStr = strIns + chnStr;
                needZero = (section < 1000) && (section > 0);
                num = Math.floor(num / 10000);
                unitPos++;
            }
            return chnStr;
        }
        var i = 2;

        function add() {
            var chinese=NumberToChinese(i);/*数组转中文*/
            var back = document.getElementById("back");
            var div = document.createElement("div");
            var str = '条款'+chinese+"：<select class='form-control' id='list"+i+"'>"
                +'<option value="甲向乙">甲向乙</option>'
                +'<option value="乙向甲">乙向甲</option>'
            +"</select> "+
                '&nbsp;&nbsp;&nbsp;&nbsp;前提条件(p)：<select class="form-control" style="width: 190px" id="pre'+i+'"/>'+'</select> ' +
                '&nbsp;&nbsp;&nbsp;&nbsp;达成的结果：<input type="text" class="form-control" id="res'+i+'"/> ' +
                '&nbsp;&nbsp;&nbsp;&nbsp;期限：<input type="date" class="form-control" id="time'+i+'"/>'

            div.innerHTML = str;
            var button = document.getElementById("button");
            back.insertBefore(div, document.getElementById("buttondiv"));
            div.style.width = "80%";
            div.style.margin = "10px auto";
            
            $("#pre"+i).select2({
                tags:true,
                language: "zh-CN",
                multiple:true, 
                allowClear:true,
            });

            /*循环添加前置条件*/
            for(var j=1;j<=i-1;j++)
            {
                $("#pre"+i).append("<option value='条款"+NumberToChinese(j)+" 满足"+"'>条款"+NumberToChinese(j)+" 满足"+"</option>");
                $("#pre"+i).append("<option value='条款"+NumberToChinese(j)+" 违约"+"'>条款"+NumberToChinese(j)+" 违约"+"</option>");
                $("#pre"+i).append("<option value='条款"+NumberToChinese(j)+" 延期"+"'>条款"+NumberToChinese(j)+" 延期"+"</option>");
            }
            

            i+=1;
        }

        function submit() {
            var content = [];

            for (var j = 1; j < i; j++) {
                let res = {};
                res['person'] = $("#list"+j).val();
                res['premise'] = $("#pre"+j).val();
                res['res'] = $("#res"+j).val();
                res['time'] = $("#time"+j).val();
                content.push(res)
            }

            var data = {
                "username":$("#username").text(),
                "contract_name":$("#contract_name").val(),
                "party_a":$("#party_a").val(),
                //"sig_a":$("#sig_a").val(),
                "sig_a": "111",
                "party_b":$("#party_b").val(),
                //"sig_b":$("#sig_b").val(),
                "sig_b": "111",
                "valid_time":$("#valid_time").val(),
                "object_desc":$("#desc").val(),
                "content":content
            }

            for (var key in data) {
                if (!data[key]) {
                    alert("合约未填写完整")
                    return
                }
            }   

            $.ajax({
                type:"POST",
                url:"/save",
                contentType:'application/json; charset=utf-8',
                data: JSON.stringify(data),
                success:function(data) {   
                    alert("提交成功!");
                    $("#form").submit()
                }
            });
        }
        
        
    
    </script>

    <body>
        <div class="header" id="header">
            <div class="container" >
                <div class="nav-top">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <div class="navbar-brand logo ">
                            <img src="../static/images/logo.png" alt=" " class="img-responsive" height="120" width="120"/> 
                        </div>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse nav-wil links" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav ">
                                <br><br>
                                <br><br>
                                <li style="font-size: 20px;" id="username">{{ username }}</li>
                                
                            </ul>
                        <div class="clearfix"></div>
                        </div><!-- /.navbar-collapse -->
                </div>
            </div>
        </div>
        <br><br>

        <br>
        <div id="back" style="margin-bottom:7% ;">
            <h3 align="center">快速生成合约工具</h3>
            <br>
            <div style="margin-left: 150px;">
                <h4><b>基本信息</b></h4>
            </div>
            <div id="table" style="margin-left: 150px;">
                <table>
                    <tr>
                        <td>
                            <div>
                            合约名称：&nbsp;&emsp;<input type="text" class="form-control" id="contract_name" style="width: 160px" />
                            </div>
                        </td>
                        <td>
                            <div style="margin-left: 65px; margin-bottom:10px">
                            生效时间：&nbsp;<input type="date" class="form-control" id="valid_time" style="width: 160px"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                            甲方：&emsp;&emsp;&emsp;&nbsp;<input type="text" class="form-control" id="party_a" style="width: 160px"/>
                        </div>
                        </td>
                        <td>
                            <div style="margin-left: 65px; margin-bottom:10px">
                            乙方：&emsp;&emsp;&nbsp;<input type="text" class="form-control" id="party_b" style="width: 160px"/>
                        </div>
                        </td>
                    </tr>
                    
                </table>
            </div>
            <div style="margin-left: 150px;margin-top: 8px">
                <div style="float: left">
                标的物描述：
            </div>
                &nbsp;<textarea class="form-control" id="desc" rows="2" cols="10" style="width: 160px"></textarea>
            </div>
            <br>
            <HR style="width:90%;color:deepskyblue;">
            <div style="width:80%;margin:15px auto;">
                <br>
                条款一：<select type="text" class="form-control"  id='list1'>
                    <option value="甲向乙">甲向乙</option>
                    <option value="乙向甲">乙向甲</option>
                </select>
                &nbsp;&nbsp;&nbsp;
                 前提条件(p)：<select id="pre1" class="form-control" style="width: 190px"></select>
                    <script type="text/javascript">
                        $('#pre1').select2({
                            tags:true,
                            language: "zh-CN",
                            multiple:true, 
                            allowClear:true,
                            minimumResultsForSearch: -1,
                            data: [
                            ]
                        });
                    </script>
                 &nbsp;&nbsp;&nbsp;
                达成的结果：<input type="text" class="form-control" id="res1" />
                &nbsp;&nbsp;&nbsp;
                 期限：<input type="date" class="form-control" id="time1"/>
            </div>
            <div  id="buttondiv" style="width: 100%;">
                
                    <button type="button" onclick="add()" id="button" style="width: 20%;color: deepskyblue;font-size: 20px;float：left;display: inline;margin-left: 20% ;" class="btn btn-default">添加</button>
                
                    <button type="button" onclick="submit()" id="button" style="width: 20%;float: right;font-size: 20px;display: inline;margin-right: 20%" class="btn btn-warning">提交</button>              
            </div>
        </div>

        <form id="form" action="/file" method="post">
            <input type="hidden" id="hint" name="username" value="{{ username }}">
        </form>
    </body>

</html>